*.exe
*.exe~
*.dll
*.so
*.dylib
remember.md

*.out
go.work

.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

*.log

bin/
dist/

docker-compose.override.yml
.DS_Store
Thumbs.db

.env

config.yaml
config.toml
config.json

build/
